body {
	background-color: #f5f5f5;
	color: #222;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #222;
	color: white;
	padding: 20px;
}

main {
	padding: 20px;
}

section {
	background-color: white;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
}

footer {
	background-color: #ddd;
	padding: 15px;
	text-align: center;
}